
.error{
    border: 1px solid #ff0000 !important;
}
.umm-meta-form #userMetaForm label{
    display: inline-block;
}
.umm-meta-form #userMetaForm{
    margin:10px;
    text-align: center;
}
.umm-meta-results{
    width:100%;
    height:auto;
    margin:auto;
   
}
.paginate_button {
    margin:5px;
    cursor:pointer;
}
.btn-space{
    margin-top: 18px;
    text-align: center;
}
.dataTables_length, .paging_simple_numbers{
    display: inline-block;
    float: right;
}
div.dataTables_paginate {
    margin-top: 5px !important;
    margin-right: 20px;
}
#UMMUsersMeta.dataTable td.dataTables_empty {
    text-align: center;    
}
.umm-meta-form .form-inline .form-group {
    margin-right: 10px;
}
.umm-user-id {
    cursor: pointer;
}
#UMMDialogForm {
    height: 486px !important;
}
#UMMUserMetaInformation tbody tr td:first-child {
    text-align: center;
}
.dataTables_length{
    margin-right:10px;
}
#imgClose{
    width:20px;
    height:20px;
    float:right;
    margin-right:10px;
    margin-top: 6px;
}
.meta-heading{
    display:inline;
    float:left;
    font-weight:bold;
    font-size: 1.5em;
    margin-top:0px;
    margin-left: 60px;  
}
#UMMUsersMeta .user-mail{
    cursor:pointer;
}
#UMMUserMetaInformation{
    width:100%;
}
#UMMUserMetaInformation th:first-child{
    width:60px !important;
}
#UMMUserMetaInformation th.sorting{
    width:55px !important;
}
.dataTables_scrollHeadInner,.dataTable {
    width:100% !important;
}
.notifyjs-bootstrap-error {
    margin-top:30px !important;
}
#UMMAddUserMetaInformation {
    float: right;
}
.umm-dialog-alert.dialog-info .dialog-content .dialog-header {
    color: #57b5e3;
    border-bottom: 3px solid #57b5e3;
}
.umm-dialog-alert.dialog-warning .dialog-content .dialog-header {
    color: #f4b400;
    border-bottom: 3px solid #ffce55;
}
.umm-dialog-alert.dialog-danger .dialog-content .dialog-header {
    color: #d73d32;
    border-bottom: 3px solid #e46f61;
}
.umm-dialog-alert.dialog-success .dialog-content .dialog-header {
    color: #53a93f;
    border-bottom: 3px solid #a0d468;
}
.umm-dialog-alert .dialog-content .dialog-header {
    min-height: 16.43px;
    margin-bottom: 10px;
    padding: 15px 0 8px;
    text-align: center;
}
.umm-dialog-alert .ui-dialog-content {
    padding: 0;
}
.umm-dialog-alert .dialog-title, .umm-dialog-alert .dialog-body, .umm-dialog-alert .dialog-footer{    
    color: #737373;
    padding-left: 20px;
    padding-right: 36px;
    padding-top: 5px;
    padding-bottom: 10px;
    text-align: center;
}
table.dataTable thead .sorting:after, table.dataTable thead .sorting:before {
    display: none;
}
table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after {
    display: none;
}
.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #f9f9f9;
}
div#wpwrap {
    background: #fff;
}
.umm-table.table-striped > tbody > tr {
    border-bottom: 1px #ddd;
}
.umm-table thead {
    border-bottom: 1px solid #ddd;
}
.umm-table {
    font-size: 14px;
}
.umm-table td {
    padding: 8px;
}
.umm-table th, .umm-table td {
    border: none;
}
.umm-meta-form .form-inline .form-group {
    display: inline-block;
}
.umm-btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
input[type="submit"], input[type="button"], button {
    cursor: pointer;
}
.umm-meta-form .form-inline#userMetaForm {
    margin-top: 2em;
    margin-bottom: 2em;
}
.umm-btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}   
.umm-btn-primary:hover {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
}
.umm-btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}
.umm-btn-success:hover {
    color: #fff;
    background-color: #449d44;
    border-color: #398439;
}
.umm-btn-warning {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
}
.umm-btn-warning:hover {
    color: #fff;
    background-color: #ec971f;
    border-color: #d58512;
}
.umm-btn-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}
.umm-btn-danger:hover {
    color: #fff;
    background-color: #c9302c;
    border-color: #ac2925;
}
.umm-btn-info {
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
}
.umm-btn-info:hover {
    color: #fff;
    background-color: #31b0d5;
    border-color: #269abc;
}
.ui-info-dialog-titlebar {
    text-align: center;
    border-bottom: 3px solid #57b5e3;
    color: #57b5e3;
}
.ui-warning-dialog-titlebar {
    text-align: center;
    border-bottom: 3px solid #f4b400;
    color: #f4b400;
}
.ui-danger-dialog-titlebar {
    text-align: center;
    border-bottom: 3px solid #d73d32;
    color: #d73d32;
}
.ui-success-dialog-titlebar {
    text-align: center;
    border-bottom: 3px solid #53a93f;
    color: #53a93f;
}
.ui-info-dialog-titlebar, .ui-warning-dialog-titlebar, .ui-danger-dialog-titlebar, .ui-success-dialog-titlebar {
    padding-top: 5px;
    padding-bottom: 5px;
}
.ui-info-dialog-titlebar .ui-dialog-titlebar-close, .ui-warning-dialog-titlebar .ui-dialog-titlebar-close,
.ui-danger-dialog-titlebar .ui-dialog-titlebar-close, .ui-success-dialog-titlebar .ui-dialog-titlebar-close {
    margin-top: 8px;
}
.umm-text-right {
    text-align: right;
}
#UMMDialogForm #userMetaDetails {
    border: 1px solid #ddd;
}
#UMMDialogForm #userMetaDetails .umm-table {
    border-bottom: 1px solid #ddd;
}
.dialog-form-header {
    padding-top: 10px;
    padding-bottom: 10px;
}
.umm-dialog-alert .dialog-form-header .ui-dialog-titlebar-close {
    padding-top: 9px;
}
#UMMDialogForm {
    border-top: 1px #ddd;
}
.ui-dialog-buttonpane {
    display: none;
}
.umm-meta-results .umm-table th {
    text-align: left;
}
.dialog-title {
    font-size: 15px;
}
.dialog-body {
    font-size: 14px;
}
.umm-meta-form .form-inline label {
    font-size: 14px;
    font-weight: bold;
}
.umm-meta-form .form-inline .form-group input {
    height: 34px;
}
.form-inline #submitMeta {
    vertical-align: top;
}
.umm-meta-form, #usersMeta_paginate.dataTables_paginate, .umm-meta-results .umm-table {
    padding-right: 20px;
}
.umm-meta-results .umm-table thead > tr > th {
    padding-right: 0;
    padding-left: 8px;
}
.umm-btn-group {
    vertical-align: top;
    text-align: right;
    display: inline-block;
}
.umm-table#UMMUsersMeta {
    padding-bottom: 20px;
}
@media (max-width: 991px) {     
    .umm-meta-form input[type="submit"] {
	display: block;
	float: right;
	margin-right: 10px;
    }
    .umm-meta-form .form-inline .form-group {
	display: block;
    }
    .umm-meta-form .form-inline .form-group input {
	width: 70%;	
	float: right;
	margin-bottom: 10px;
    }
    .umm-meta-form .form-group {
	clear: both;
    }
    .umm-meta-results {
	padding-top: 3em;
    }
    .umm-btn-group {
	display: inline-block;
        float: right;
        clear: both;
    }
}